/* Adds Windows 95 themed icons before headings */

#top::before {
    content: url("../images/icons/Star.png");
    padding-right: 6px;
    position: relative;
    top: 5px;
}

#contact::before {
    content: url("../images/icons/Info.png");
    position: relative;
    padding-right: 6px;
    top: 10px;
}

#experience::before {
    content: url("../images/icons/Computer.png");
    padding-right: 6px;
    position: relative;
    top: 5px;
}

#hive::before{
    content: url("../images/icons/Chip2.png");
    position: relative;
    padding-right: 6px;
    top: 5px;
}

#splunk::before {
    content: url("../images/icons/Folders.png");
    position: relative;
    padding-right: 5px;
    top: 6px;
}

#ta::before {
    content: url("../images/icons/Scope.png");
    position: relative;
    padding-right: 5px;
    top: 6px;
}

#janelia::before {
    content: url("../images/icons/Search.png");
    position: relative;
    padding-right: 5px;
    top: 6px;
}

#proj::before {
    content: url("../images/icons/Desktop.png");
    position: relative;
    padding-right: 6px;
    top: 5px;
}

#progress::before {
    content: url("../images/icons/Cursordrag.png");
    position: relative;
    padding-right: 6px;
    top: 5px;
}

#end::before {
    content: url("../images/icons/Bear.png");
    position: relative;
    padding-right: 6px;
    top: 10px;
}

#breadboard-header::before {
    content: url("../images/icons/Chip.png");
    position: relative;
    padding-right: 6px;
    top: 4px;
}