body {
  background-color: #4c9193;
  color: #ffffef;
  font-family: 'Geologica', Helvetica, Arial, sans-serif;
}

p, h3, li {
  color: #ffffead7;
}

a { 
  color: inherit;
  text-decoration: none; 
} 

h1 {
  font-size: 2em;
  text-shadow: 2px 2px 5px #0e4136;
}

h3 {
  margin-top: -15px;
  margin-bottom: -10px;
}

.main-content {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 25px;
}

.section {
  border-bottom: double #ffffff75;
  padding: 10px;
  margin: 0 auto;
}

.text-highlight {
  background-color: #1a5857;
  padding-left: 2px;
  padding-right: 2px;
}

/* Float three columns side by side */
.project-card {
  float: left;
  width: 32%;
  padding: 3px;
  text-align: center;
}

/* Remove extra left and right margins, due to padding in columns */
.project-row {margin: 0 -5px;}

/* Clear floats after the columns */
.project-row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media  (max-width: 1100px) {
  .project-card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}


/* Content fill width on small screens */
@media (max-width: 600px) {
  .main-content {
    width: 100%;
  }
}

.progress-project {
  margin-top: -25px;
  padding-bottom: 10px;
  text-align: center;
  width: 50%;
  float: left;
}

@media  (max-width: 1100px) {
  .progress-project {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}


.card-image {
  max-width: 80%;
}

.inline-link {
  display: inline;
  text-decoration: underline;
}

.title-link:hover {
  text-decoration: underline;
}

.title-link p {
  margin-top: -10px;
  font-size: 1.2em;
}